body{
    background-color: rgb(137, 161, 113);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{

    background-color: rgb(32, 61, 3);
    color: antiquewhite;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 5px;
    transition: 0.1s;
    width: 200px;
    cursor: pointer ;
}

button:active{

    opacity: 0.5;
}

button:hover {
    font-size: 26px;
    background-color: rgb(40, 75, 5);

}



